apiVersion: v1
kind: Secret
metadata:
  name: zen-messaging-secrets
type: Opaque
stringData:
  mongo-uri: "mongodb://username:password@host:port/database"
  redis-url: "redis://:password@host:port/0"
  rabbitmq-url: "amqp://user:password@host:port/"
